<% const titulo="Comics VXT"%>
<%- include('../fragments/header',{titulo:titulo})%>
<div class="container">
    <div class="divInicioContainer white padTop maxW left">
        <h3>Buscar</h3>
        <input class="form-control left right" type="text" placeholder="Buscar Comic">
    </div>
</div>
