<% const titulo = "Crear Comic" %>
<%- include('../fragments/header',{titulo:titulo}) %>
<div class="container" style="margin-top:15px">
    <div class="centerDiv">
        <div class="divLogin white">
            <div class= "text-center" style="margin-bottom: 10px">
                <h2><%=titulo%></h2>
            </div>
            <form action="">
                <div class="form-group row">
                    <label for="isbnComic" class="form-control-label col-sm-2">ISBN:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <input type="text" name="isbnComic" id="isbnComic" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nombreComic" class="form-control-label col-sm-2">Nombre:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <input type="text" name="nombreComic" id="nombreComic" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="autorComic" class="form-control-label col-sm-2"> Autor:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <select name="autorComic" id="autorComic"></select>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="generoComic" class="form-control-label col-sm-2"> Genero:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <select name="generoComic" id="generoComic"></select>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="imagenComic" class="form-control-label col-sm-2"> Imagen:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <input id="imagenComic" name="imagenComic" multiple type="file" accept="image/*">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="generoComic" class="form-control-label col-sm-2"> Genero:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <select name="generoComic" id="generoComic"></select>

                    </div>
                </div>


                <button class="btn btn-block btn-dark">Aceptar</button>
                <button class="btn btn-block btn-danger">Cancelar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../fragments/footer') %>
