<% const titulo = "Crear Rol" %>
<%- include('../fragments/header',{titulo:titulo}) %>
<div class="container" style="margin-top:15px">
    <div class="centerDiv">
        <div class="divLogin white">
            <div class= "text-center" style="margin-bottom: 10px">
                <h2><%=titulo%></h2>
            </div>
            <form action="crear-Rol" method="post">
                <div class="form-group row">
                    <label for="nombreRol" class="form-control-label col-sm-2">Nombre:</label>
                    <div class="col-sm-9" style="margin-left: 10px">
                        <input type="text" name="nombreRol" id="nombreRol" class="form-control">
                    </div>
                </div>

                <button class="btn btn-block btn-dark">Aceptar</button>
                <a href="/vxt/inicio">
                    <button type="button" class="btn btn-block btn-danger">Cancelar</button>
                </a>
            </form>
        </div>
    </div>
</div>
<%- include('../fragments/footer') %>
