<footer class="page-footer font-small p-3 foot bg-dark text-center white">Desarrollado por:
    <a href="#">Renny Gorozabel</a>
    <a href="#">|</a>
    <a href="#">Jorge Zambrano</a>
</footer>
</body>
</html>
