<% const titulo="VixStart Comic Books"%>
<%- include('../fragments/header',{titulo:titulo})%>
<div class="container">
    <div>
        <div class="centerDivH">
            <div class="divInicioContainer row white wid">
                <h1 align="center">Menu</h1>
                <form action="">
                    <button class="btn btn-block btn-dark padTop">Comics</button>
                </form>
                <form action="">
                    <button class="btn btn-block btn-dark padTop">Autores</button>
                </form>
                <form action="">
                    <button class="btn btn-block btn-dark padTop">Editoriales</button>
                </form>
                <form action="">
                    <button class="btn btn-block btn-dark padTop">Eventos</button>
                </form>

            </div>
        </div>
    </div>
</div>
<%- include('../fragments/footer')%>
